/* Fonts */
@font-face {
  font-family: moret, serif;
  font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: moret, serif;
  font-weight: 400;
	font-style: italic;
}
@font-face {
  font-family: moret, serif;
  font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: moret, serif;
  font-weight: 700;
	font-style: italic;
}
@font-face {
  font-family: proxima-soft, serif;
  font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: proxima-soft, serif;
  font-weight: 400;
	font-style: italic;
}
@font-face {
  font-family: proxima-soft, serif;
  font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: proxima-soft, serif;
  font-weight: 700;
	font-style: italic;
}
@font-face {
  font-family: proxima-soft-extra-condensed, serif;
  font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: proxima-soft-extra-condensed, serif;
  font-weight: 400;
	font-style: italic;
}
@font-face {
  font-family: proxima-soft-extra-condensed, serif;
  font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: proxima-soft-extra-condensed, serif;
  font-weight: 700;
	font-style: italic;
}
@font-face {
  font-family: proxima-soft-condensed, serif;
  font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: proxima-soft-condensed, serif;
  font-weight: 400;
	font-style: italic;
}
@font-face {
  font-family: proxima-soft-condensed, serif;
  font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: proxima-soft-condensed, serif;
  font-weight: 700;
	font-style: italic;
}

div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
*, ::after, ::before {
    box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
}
/* Text meant only for screen readers. */
.text-center {text-align:center;}
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
body {
	overflow-x: hidden;
	overflow-y: auto;
}
html,body,.site {
	height: 100%;
	position: relative;
}
.site {

}
body {
	font-family: $font_primary;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
}
a,textarea,input,button,select {
	transition: all ease .3s;
}
a {
	color: $color_pink3;
	&:hover {
		color: $color_pink1;
	}
}
.font2 {
	font-family: $font_secondary!important;
}
.wrapper {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	&.sm {
		max-width: 1100px;
	}
}
#siteMenu {
	display: block;
	width: 100px;
	height: 100px;
	position: fixed;
	top: 70px;
  right: 10px;
	z-index: 200;
	opacity: 0;
	transform: translateY(100vh);
	transition: all ease 1s;
	@include xs {
		top: 5vh;
		right: 5vw;
	}
	@include tab {
		top: 70px;
		right: 20px;
		width: 120px;
		height: 120px;
	}
	@include mid {
		width: 220px;
		height: 220px;
	}
	@include desk {
		width: 300px;
		height: 300px;
	}
	&.open {
		opacity: 0;
		transform: scale(0.2)!important;
    margin-top: -13vh;
    margin-right: -22vh;
    opacity: 0!important;
	}
}
.balloonNav {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	animation: float 4s ease-in-out infinite;
	&:after {
		content: "";
		display: block;
		width: 75%;
		height: 85%;
		position: absolute;
		top: 16px;
		left: 40%;
		transform: translateX(-40%);
		border-radius: 100%;
		background-color: $color_primary;
		animation: float_shadow 4s ease-in-out infinite;
	}
	span.shadow {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image:url('images/balloon_nav.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 5;
	}
	span.bar {
		display: block;
		width: 40px;
		height: 6px;
		border-radius: 100px;
		position: absolute;
		top: 55%;
		left: 50%;
		background: #000;
		z-index: 10;
		transform: translateX(-50%) translateY(-55%);
		@include mid {
			width: 28%;
			height: 6px;
		}
		&:before, &:after {
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			border-radius: 100px;
			background: #000;
		}
		&:before {
			transform: translateY(-15px);
			@include mid {
				transform: translateY(-20px);
			}
		}
		&:after {
			transform: translateY(15px);
			@include mid {
				transform: translateY(20px);
			}
		}
	}
}

.social-media {
	text-align: center;
	padding:0 30px;
	margin-top: 10vh;
	a {
		display: inline-block;
		text-decoration: none;
		width: 6vh;
		height: 6vh;
		background: #000;
		border-radius: 100%;
		color: #FFF;
		text-align: center;
		position: relative;
		font-size: 20px;
		line-height: 1;
		margin: 0 1vh;
		@include tab {
			font-size: 1.3vw;
		}
		&.instagram {
			color: $color_yellow2;
		}
		&.linkedin {
			color: $color_pink2;
		}
		svg {
			display: block;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
		&:hover {
			background: $color_pink3!important;
			color: #FFF!important;
		}
	}
}

/* Navigation */
.navigation-screen {
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	background: $color_yellow2;
	z-index: 99999;
	display: none;
	@include animateThis(0.8s);
	@include animateEffect(fadeOut);
	&.open {
		display: block;
		@include animateEffect(fadeIn);
	}
	.wrapper {
		height: 100%;
		padding: 0 0;
		overflow: hidden;
	}
	.menu-wrapper {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		ul {
			margin: 0 0;
			padding: 0 0;
			list-style: none;
			text-align: center;
			a {
				display: inline-block;
				text-decoration: none;
				color: #000;
				font-family: $font_secondary;
			}
		}
		ul.menu > li {
			display: block;
			width: 100%;
		}
		ul.menu > li > a {
			font-size: 8vh;
			font-weight: 700;
			line-height: 1.2;
			@include tab {
				font-size: 13vh;
			}
		}
		ul.menu > li > a:hover {
			color: $color_pink3;
		}
	}
	.social-media {
		padding: 0 0;
	}
}

#closeNav {
	display: block;
	width: 80px;
	height: 80px;
	background: url('images/close_x.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70%;
	position: absolute;
	top: 5vw;
	right: 18vw;
	z-index: 10;
	@include xs {
		right: 5vw;
	}
	span {
		display: block;
		width: 0;
		overflow: hidden;
		text-indent: -99em;
	}
}

body.content-loaded {
	#siteMenu {
		opacity: 1;
		transform: translateY(0);
	}
}

.flexwrap {
	@include flexgroup();
	position: relative;	
}

.w100 {
	width: 100%;
	float: left;
}

.h2 {
	font-family: $font_secondary;
	font-size: 3.5rem;
	font-weight: normal;
	line-height: 1;
	margin: 0 0 20px;
}

.row-1, .row-1 * {
	transition: all ease .3s;
}

.row-1 {
	height: 100vh;
	background: $color_pink1;
	overflow: hidden;
	.text,.wrapper {
		height: 100%;
	}
	.text {
		width: 100%;
		text-align: center;
		position: relative;
		z-index: 6;
	}
	.wrapper {
		text-align: center;
	}
	.titlediv {
		width: 100%;
		text-align: center;
		&.fixed {
			position: fixed;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
		.inline {
			display: inline-block;
			position: relative;
		}
	}
	#row1-title {
		display: block;
		font-family: $font_secondary;
		font-size: 13vw;
    font-weight: 700;
    line-height: 0.85;
		color: #000;
		margin: 0 0;
		opacity: 1;
		transform: translateY(0);
		@include tab {
			font-size: 65px;
		}
		@include mid {
			font-size: 12vw;
		}
	}
	.balloondiv {
		position: absolute;
		top: 50vh;
		left: 2vw;
		width: 300px;
		height: 100%;
		visibility: hidden;
		&.show {
			visibility: visible;
		}
		@include tab {
			top: 40vh;
			left: 0;
		}
		img.balloon-logo {
			display: block;
			width: 120px;
			height: auto;
			position: absolute;
			right: -20%;
			top: 0;
			animation: float 4s ease-in-out infinite;
			animation-delay: 3s;
			@include tab {
				width: 200px;
			}
			@include mid {
				width: 230px;
			}
			@include desk {
				width: 300px;
			}
		}
	}
}

.row-2 {
	width: 100%;
	height: auto!important;
	float: left;
	position: relative;
	background: $color_primary;
	z-index: 10;
	min-height: 30em;
	.row-inner {
		position: relative;
		&:after {
			content:"";
			display: block;
			width: 100%;
			height: 50%;
			position: absolute;
			bottom: 0;
			left: 0;
			background: $color_primary;
		}
	}
	.wrapper {
		position: relative;
		z-index: 12;
		padding-top: 250px;
		padding-bottom: 100px;
	}
	.col {
		width: 100%;
		@include tab {
			width: 50%;
		}
	}
	.col.left {
		@include flexgroup-center();
	}
	.balloon-hero,
	.balloon-hero * {
		transition: all ease .3s;
	}
	.balloon-hero {
		width: 100%;
		height: 350px;
		position: absolute;
		top: -7vw;
		left: 0;
		background-image: url(images/balloon_hero.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
	}
}

.animatedEl {
	.thinking {
		max-width: 350px;
		width: 100%;
		margin: 0 auto;
		svg {
			width: 100%;
			float: left;
		}
		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}
}

div.more {
	margin-top: 25px;
}
.more-btn {
	font-family: $font_secondary;
	font-size: 2rem;
	font-weight: 400;
	display: inline-block;
	text-decoration: none;
	color: #000;
	&.get-started {
		span {
			font-size: 1.5rem;
			position: relative;
			top: -2px;
			right: -5px;
		}
	}
	&:hover {
		color: $color_pink3;
	}
}

.row-3 {
	background: #FFF;
	position: relative;
	z-index: 11;
	padding: 50px 0 0;
	z-index: 12;
	.col {
		width: 100%;
		position: relative;
		&.left {
			@include tab {
				width: 40%;
				left: -5vw;
			}
		}
		&.right {
			@include tab {
				width: 60%;
				right: -2vw;
			}
		}
		img.doughnut {
			width: 100%;
			height: auto;
			float: left;
			@include mid {
				width: 120%;
			}
		}
		&.right {
			@include flexgroup-center();
			.text {
				width: 100%;
			}
		}
	}
	.inner {
		width: 100%;
		float: left;
		position: relative;
		.art1 {
			display: block;
			width: 60px;
			height: 60px;
			position: absolute;
			top: 24px;
			right: 70px;
			svg {
				width: 100%;
			}
		}
		// &:before {
		// 	content:"";
		// 	display: block;
		// 	width: 5vw;
		// 	height: 5vw;
		// 	position: absolute;
	 //    top: 45px;
  //   	right: 4vw;
		// 	background-image: url("images/squiggles/png/group_3.png");
		// 	background-position: center;
		// 	background-repeat: no-repeat;
		// 	background-size: contain;
		// }
		&:after {
			content:"";
			display: block;
			width: 2vw;
			height: 2vw;
			position: absolute;
	    bottom: 5vw;
    	left: 4vw;
			background-image: url("images/squiggles/png/line_star.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	.text {
		h2 {
			margin: 0 0;
			font-size: 5.2vw;
			font-weight: 400;
			line-height: 1.1;
		}
	}
}

.row-4 {
	position: relative;
	background: $color_green;
	z-index: 14;
	&:before {
		content:"";
		width: 100%;
		height: 70px;
		background: #FFF;
		position: absolute;
		top: 0;
		left: 0;
		@include xs {
			height: 20vh;
		}
	}
	.flexwrap.projects {
		margin-left: -3vw;
		margin-right: -3vw;
		z-index: 30;
		@include flexbox-justify(center);
	}
	.box {
		width: 33%;
		padding: 3vw;
		a {
			display: block;
			width: 100%;
			float: left;
		}
		@include xs {
			width: 33.33%;
		}
		img {
			width: 100%;
			height: auto;
			box-shadow: 0 14px 30px -8px rgba(0,0,0,0.4);
			border: 1px solid #000;
			transition: all ease .3s;
		}
		a:hover {
			img {
				transform: rotate(3deg);
			}
		}
	}
	.box:first-child {
		a:hover {
			img {
				transform: rotate(-5deg);
			}
		}
	}
	.box:last-child {
		a:hover {
			img {
				transform: rotate(5deg);
			}
		}
	}
	.illustration-logo {
		width: 100%;
		float: left;
		padding-top: 60px;
		padding-bottom: 60px;
		position: relative;
		.top-star {
			display: block;
			width: 100px;
			height: 100px;
			background-image: url(images/filled_star.png);
			background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
			position: absolute;
			top: -68px;
			left: -10vw;
			z-index: 20;
			@include tab {
				width: 10vw;
				height: 10vw;
				top: -140px;
				left: -5vw;
			}
		}
		.col {
			width: 100%;
			@include tab {
				width: 50%;
			}
			&.graphic {
				position: relative;
				top: -20px;
				@include tab {
					top: 0;
				}
				img,
				svg {
					width: 100%;
					float: left;
					height: auto;
				}
			}
			&.text {
				@include tab {
					padding-left: 3vw;
				}
				@include mid {
					padding-left: 5vw;
				}
			}
		}
	}
	.more-btn.get-started {
		&:hover {
			color: #FFF;
		}
	}
}

.row-5 {
	position: relative;
	background: #FFF;
	z-index: 14;
	padding-top: 50px;
	padding-bottom: 50px;
	.flexwrap.projects {
		margin-left: -3vw;
		margin-right: -3vw;
		z-index: 5;
		@include flexbox-justify(center);
	}
	.box {
		width: 33%;
		padding: 3vw;
		@include xs {
			width: 33.33%;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.illustrations {
		width: 100%;
		float: left;
		padding-top: 60px;
		padding-bottom: 60px;
		.col {
			width: 100%;
			@include tab {
				width: 50%;
			}
			&.graphic {
				width: 100%;
				position: relative;
				span.star {
					display: block;
					width: 70px;
					height: 70px;
					position: absolute;
			    top: 10px;
		    	right: -10px;
		    	z-index: 20;
					// background-image: url("images/squiggles/png/group_2.png");
					// background-position: center;
					// background-repeat: no-repeat;
					// background-size: contain;
					svg {
						width: 100%;
					}
				}
				@include tab {
					width: 40%;
				}
				img {
					width: 100%;
					height: auto;
					position: relative;
					left: 20%;
					transform: translateY(-20%);
					@include tab {
						width: 250%;
						left: 0;
						transform: none;
					}
				}
			}
			&.text {
				width: 100%;
				position: relative;
				z-index: 10;
				@include flexgroup();
				@include flexbox-align-items(center);
				@include tab {
					width: 60%;
					padding-left: 5vw;
				}
				.wrap {
					width: 100%;
				}
			}
		}
	}
	.more-btn.get-started {
		&:hover {
			color: #FFF;
		}
	}
	.clients {	
		margin-top: 30px;
		.logos {
			@include flexbox();
			@include flexbox-align-items(center);
			margin: 0 -10px;
		}
		span {
			display: inline-block;
			margin: 6px 0;
			padding: 0 10px;
		}
		img.all {
			width: 100%;
			height: auto;
		}
		// span a,
		// span img {
		// 	display: block;
		// 	width: auto;
		// 	height: 35px;
		// }
	}
}

.row-6 {
	position: relative;
	z-index: 15;
	background: $color_pink2;
	padding-top: 80px;
	.skills {
		width: 100%;
		padding-bottom: 50px;
		@include flexgroup();
		@include flexbox-align-items(center);
		@include tab {
			width: 60%;
		}
		.t1, .wrap, div.more {
			display: block;
			width: 100%;
		}
		.services-list {
			ul {
				column-count:2;
				margin: 0 0;
				padding: 0 0;
				list-style: none;
				@include xs {
					column-count: 3;
				}
			}
		}
		
	}
	.graphic {
		width: 100%;
		@include tab {
			width: 40%;
		}
		img, svg {
			width: 100%;
			float: left;
		}
	}
	div.more {
		a:hover {
			color: $color_yellow1;
		}
	}
}

body.hide-row-1 {
	.row-1 {
		.titlediv #row1-title {
			opacity: 0;
			transform: translateY(-10vh);
		}
	}
}
body.open-menu {
	#page {
		overflow: hidden;
		@include tab {
			overflow: auto;
		}
	}
}
body.scrolled {
	#row1-title {
		transform: translateY(5%);
	}
}

/* SUB-PAGE */
body.subpage {
	.site,
	#primary {
		height: auto;
	}
	h1.page-title {
		font-family: $font_secondary;
		font-size: 4rem;
		line-height: 1.2;
		margin: 0 0 30px;
		@include mid {
			font-size: 7rem;
			margin-bottom: 0;
		}
	}
	.logo {
		text-align: center;
		a {
			display: inline-block;
			width: 70px;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	#siteMenu {
		@include mid {
			width: 180px;
			height: 180px;
		}
	}
	.site-footer {
		.wrapper {
			max-width: 80%;
		}
	}
}
.sp-flexwrap {
	height: 100%;
	@include flexgroup();

	.col-left {
		width: 100%;
		// height: 100vh;
		// background: $color_pink1;
		padding: 13vh 30px 30px;
		text-align: center;
		position: relative;
		@include mid {
			width: 50%;
		}
	}
	.col-right {
		width: 100%;
		background: #FFF;
		@include mid {
			width: 50%;
		}
	}
}

#page-content {
	position: relative;
	&.has-bottom-image {
		.col-left {
			padding-bottom: 0;
		}
	}
}
.page-bottom-image {
	width: 100vw;
	position: relative;
	left: 0;
	bottom: -30px;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
		&#bottom-image {
			position: relative;
			bottom: -10px;
		}
	}
	&.hide-xs {
		display: none;
	}
	&.visible-xs {
		display: block;
		background-image: none;
		background-color: transparent;
		bottom: 0;
		&.white {
			background-color: transparent;
		}
	}
	div.image {display: none;}
	@include mid {
		position: absolute;
		bottom: 0;
		&.hide-xs {
			display: block;
		}
		&.visible-xs {
			display: none;
		}
	}
	@include gt($tabwidth) {
		// div.image {
		// 	display: block;
		// 	height: 380px;
		// 	background-size: cover;
		// 	background-position: bottom center;
		// }
		// img {
		// 	display: none;
		// }
	}
}
.page-bottom-image-v2 {
	width: 100%;
	float: left;
	&.visible-xs {
		display: none;
	}
	@include mid {
		// position: relative;
		// left: 0;
		// bottom: -15px;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	img {
		width: 65vw;
		height: auto;
		position: relative;
		bottom: 0;
		@include mid {
			width: 80%;
			transform: translateX(30%);
		}
	}
	@media screen and (max-width: $midwidth - 1px) {
		&.hidden-xs {display:none!important;}
		&.visible-xs {
			display: block;
			position: relative;
			bottom: -10px;
			text-align: center;
		}
	}
}
#page-content.has-bottom-image {
	.col-right {
		@include mid {
			padding-bottom: 0;
		}
	}
}

.page-inner {
	padding: 10vh 10vw;
	background: #FFF;
	text-align: center;
	@include tab {
		padding: 10vh 20vw 30px 7vw;
		background: transparent;
		text-align: left;
	}
	&.hidden {
		display: none;
		visibility: hidden;
		@include mid {
			display: block;
		}
	}
	@include tab {
		padding: 8vh 20vw 30px 10vw;
	}
	@include mid {
		padding: 20vh 12vw 30px 6vw;
	}
	@include gt($tabwidth) {
		padding-bottom: 0;
	}
	.titlediv {
		position: relative;
		.svg-top {
			display: inline-block;
			position: absolute;
			top: -55px;
			left: -10px;
			width: 60px;
			@include tab {
				top: -35px;
				left: -40px;
			}
			svg {
				width: 100%;
			}
		}
		.svg-bottom {
			display: inline-block;
			position: absolute;
			bottom: -40px;
			width: 45px;
			margin-left: 15px;
			&.arrow-down {
				width: 100px;
				margin-left: 0;
			}
			svg {
				width: 100%;
			}
		}
	}
	.alt-title {
		font-family: $font_secondary;
		font-size: 2.5rem;
		font-weight: 400;
		line-height: 1.1;
		display: inline-block;
		position: relative;
		margin: 0 0 20px;
		@include tab {
			font-size: 3.5rem;
		}
	}
}

.content-area {
	position: relative;
	.page-content-mirror {
		width: 100%;
		position: relative;
		z-index: 20;
		background-color: #FFF;
		padding-bottom: 30px;
		@include mid {
			width: 50%;
			position: absolute;
			top: 0;
			right: 0;
			background-color: transparent;
			padding-bottom: 0;
		}
	}
}

body.subpage {
	#page {
		width: 100%;
		float: left;
		// overflow-x: hidden;
		// overflow-y: auto;
		overflow: hidden;
		&:after {
			content:"";
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			@include pink_gradient();
			@include mid {
				width: 50%;
			}
			@include gt($tabwidth) {
				height: 35%;
			}
		}
		.content-area .page-content-mirror,
		.sp-flexwrap .col-right,
		.page-inner {
			background: transparent;
		}
		@include gt($tabwidth) {
			.sp-flexwrap .col-right {
				padding-bottom: 0!important;
			}
		}
	}
	#primary {
		position: relative;
		z-index: 10;
	}
	&.green-title-div {
		#page:after {
			background: -moz-linear-gradient(top,  rgba($color_green,0.65) 0%, rgba(0,0,0,0) 100%);
			background: -webkit-linear-gradient(top,  rgba($color_green,0.65) 0%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to bottom,  rgba($color_green,0.65) 0%,rgba(0,0,0,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_green', endColorstr='#00000000',GradientType=0 );
		}
	}
	&.page-template-page-about {
		#page {
			&:after {
				@include yellow_gradient();
			}
		}
	}
	&.page-template-page-work {
		#page {
			&:after {
				@include pink_gradient();
			}
		}
	}
}


.content-area.work-page {
	position: relative;
	z-index: 10;
	.sp-flexwrap .col-left {
		background: transparent;
	}
}

.masonry-wrapper {
	width: 100%;
	float: left;
	position: relative;
	.wrapper {
		max-width:  $wrapper;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		z-index: 10;
		text-align: center;
	}
	.masonry {
		// @include flexbox();
		// @include flexbox-justify(center);
		width: 100%;
		float: left;
		* {
			box-sizing: border-box;
			transition: all ease .3s;
		}
		.item {
			float: left;
			padding: 5px;
			.wrap {
				width: 100%;
				float: left;
				overflow: hidden;
			}
			.inner {
				display: block;
				width: 100%;
				float: left;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			.projlink {
				display: block;
				width: 100%;
				float: left;
				overflow: hidden;
			}
			img {
				width: 100%;
				height: auto;
				float: left;
			}
			img.helper2 {
				display: none;
			}
			&:hover {
				.inner {
					transform: scale(1.1);
				}
			}
		}
		
		@media screen and (max-width: $deskwidth) {
			.item.span70 {
				width: 66.6%!important;
			}
			.item.span30 {
				width: 33.33%!important;
			}
		}
		@media screen and (max-width: 975px) {
			.item.span30 {
				width: 50%!important;
			}
			.item.span70 {
				width: 100%!important;
			}
			.item img.helper1 {
				display: none;
			}
			.item img.helper2 {
				display: block;
			}
			.item.span30.span-mobile100,
			.item.span70.span-mobile100,
			.item.span-mobile100 {
				width: 100%!important;
			}
			.item.span30.span-mobile50,
			.item.span70.span-mobile50,
			.item.span-mobile50 {
				width: 50%!important;
			}
		}
	}

}

.projects-gallery {
	.wrapper {
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		z-index: 10;
		text-align: center;
		@include mid {
			max-width: 85%;
		}
		table {
			width: 100%;
			img {
				width: 100%;
				height: auto;
				float: left;
			}
		}
	}
}

.content-area.post-projects {
	.titlediv {
		margin-bottom: 30px;
		.alt-title {
			margin-bottom: 0;
		}
		.h3 {
			font-family: $font_serif;
			font-size: 1.8em;
			font-weight: bold;
			line-height: 1.2;
			margin: 0 0;
		}
	}
	.sp-flexwrap .col-left {
		background: transparent;
	}
	.fullwidth-images {
		width: 100%;
		float: left;
		.wrapper {
			max-width: $wrapper;
			width: 100%;
		}
		figure,
		img.full-image {
			width: 100%;
			height: auto;
			float: left;
		}
	}
	#subnav {
		width: 100%;
		position: fixed;
		top: 15%;
		left: 0;
		z-index: 999;
		visibility: hidden;
		opacity: 0;
		transition: all ease .3s;
		.wrapper {
			max-width: 1200px;
		}
		a {
			color: #000;
			font-size: 20px;
			font-weight: 600;
			text-transform: uppercase;
			text-decoration: none;
			&:hover {
				color: $color_primary;
			}
		}
	}
	.fullwidth-images.show-nav {
		#subnav {
			visibility: visible;
			opacity: 1;
		}
	}
}

.custom-content-repeater {
	.entry {
		margin-bottom: 50px;
		@include mid {
			margin-bottom: 70px;
		}
	}
	.entry:last-child {
		margin-bottom: 0;
	}
	.small-title {
		margin: 0 0;
		text-transform: uppercase;
		font-size: 1.35em;
		font-weight: 500;
		line-height: 1.2;
	}
	.big-title {
		font-family: $font_secondary;
		font-size: 2.5rem;
		font-weight: 400;
		line-height: 1.1;
		display: inline-block;
		position: relative;
		margin: 0 0 10px;
		@include tab {
			font-size: 3.4rem;
		}
	}	
	.titlediv {
		position: relative;
		.big-title-wrap {
			display: inline-block;
			position: relative;
			h2 {
				display: inline-block;
			}
		}
		.big-title span {
			display: inline-block;
			position: relative;
		}
		.squiggle {
			width: 100px;
			height: auto;
			&.top {
				position: absolute;
			}
		}
	}
	.buttondiv {
		margin-top: 15px;
	}
	.more-btn.get-started {
		font-size: 1.5rem;
	}
}

.error-404  {
	#page-content {
		position: relative;
		z-index: 30;
	}
	.textdiv {
		ul.links {
			margin: 0 0;
			padding: 0 0;
			list-style: none;
			position: relative;
			top: -10px;
			a {
				display: inline-block;
				text-decoration: none;
				color: $color_pink3;
				&:hover {
					color: $color_pink1;
				}
			}
		}
	}
	.page-inner .alt-title {
		padding-right: 20px;
	}
	.svg-right {
		display: inline-block;
		position: absolute;
    top: 10%;
    right: -15px;
    width: 60px;
    img {
    	width: 100%;
    	height: auto;
    }
	}
	@media screen and (max-width: $xswidth) {
		.page-inner {
			padding: 5vh 10vw;
		}
	}
}
.page404-bottom-image {
	position: relative;
	bottom: -20px;
	text-align: right;
	@include tab {
		position: absolute;
		right: 0;
		bottom: -20px;
	}
	&.hidden {
		opacity: 0;
		visibility: hidden;
		width: 100%;
		@include gt($tabwidth) {
			display: none;
		}
	}
	#bottom-image {
		width: 95vw;
		height: auto;
		@include gt($tabwidth) {
			width: 100%;
		}
	}
	&.fixed {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 5;
		@include gt($tabwidth) {
			position: relative;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
}
body.page-template-page-services {
	.page-inner {
		@include gt($tabwidth) {
			padding-bottom: 30px;
		}
	}
	@include tab {
		#page-content.has-bottom-image .col-right {
			padding-bottom: 20vh;
		}
	}
}

/* FOOTER */
.site-footer {
	background-color: $color_pink1;
	position: relative;
	z-index: 20;
	padding-top: 0;
	padding-bottom: 0;
	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 20px;
		background-color: $color_pink1;
		position: absolute;
		top: -5px;
		left: 0;;
	}
	.wrapper {
		padding-top: 33px;
		padding-bottom: 30px;
	}
	.footer-line {
		top: -7px;
	}
	.social-media {
		margin: 0 0;
		padding: 0 0;
		text-align: center;
		@include tab {
			text-align: right;
		}
		a {
			width: 40px;
			height: 40px;
			font-size: 20px;
			line-height: 1;
		}
	}
}
.footer-line {
	width: 100%;
	height: 6px;
	float: left;
	overflow: hidden;
	position: relative;
	z-index: 50;
	top: -3px;
	&:before {
		content: "";
		display: block;
		width: 200%;
		height: 5px;
		float: left;
		position: absolute;
		top: 0;
		left: -30px;
		background-image: url(images/footer_line.png);
		background-position: top left;
		background-repeat: repeat-x;
		background-size: 75%;
	}
}

@media screen and (max-width: 600px){
	#wpadminbar {
    position: fixed;
	}
}

